In [1]:
### allows to direct changes in the packages to be immidiately visibe in the notebook 
%load_ext autoreload
%autoreload 2

In [25]:
import os, sys
sys.path.append(os.getcwd() + '/../..')
sys.path.append(os.getcwd() + '/..')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler, LabelEncoder, PowerTransformer

In [29]:
df_raw = pd.read_csv('./data/cell/traffic_cells.csv', sep='|', encoding="UTF-8",
                    warn_bad_lines=False, error_bad_lines=False)

In [30]:
df_raw.head()

,Unnamed: 0,cell_key,quarter_hour,traffic_active_user_dl_avg,chmeas_prb_dl_avail,chmeas_prb_dl_used_avg,thrp_bits_dl,thrp_time_dl,dt
0,0,4,00:15,0.400,100.0,14.291,3.324068e+09,223320.0,20190520
1,1,4,02:30,0.229,100.0,3.360,5.969072e+08,103160.0,20190520
2,2,4,07:15,0.067,100.0,3.468,1.853983e+09,34478.0,20190520
3,3,4,11:15,0.115,100.0,4.786,7.638756e+08,38768.0,20190520
4,4,5,09:30,0.199,100.0,5.074,2.051302e+09,84535.0,20190520

In [31]:
df_raw.cell_key.unique()

array([ 4,  5,  6,  7,  8, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24,
       25, 28, 29, 31, 32, 33, 34, 36, 37, 38, 39, 40, 42, 46, 47, 48, 49,
       54, 55, 56, 57, 58, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73,
       74, 75, 76, 78, 79, 80,  0,  1,  2,  3,  9, 10, 11, 18, 26, 27, 30,
       35, 45, 50, 59, 63, 70, 77, 41, 43, 44, 52, 53, 51], dtype=int64)

### Encode the cell names

In [21]:
df_raw.cell_key = LabelEncoder().fit_transform(list(df_raw.cell_key))

In [22]:
df_raw

,cell_key,quarter_hour,traffic_active_user_dl_avg,chmeas_prb_dl_avail,chmeas_prb_dl_used_avg,thrp_bits_dl,thrp_time_dl,dt
0,4,00:15,0.400,100.0,14.291,3.324068e+09,223320.0,20190520
1,4,02:30,0.229,100.0,3.360,5.969072e+08,103160.0,20190520
2,4,07:15,0.067,100.0,3.468,1.853983e+09,34478.0,20190520
3,4,11:15,0.115,100.0,4.786,7.638756e+08,38768.0,20190520
4,5,09:30,0.199,100.0,5.074,2.051302e+09,84535.0,20190520
...,...,...,...,...,...,...,...,...
1090261,76,15:15,0.001,50.0,0.905,1.099336e+06,169.0,20190109
1090262,77,22:15,0.394,100.0,16.329,1.029768e+10,244514.0,20190109
1090263,78,15:30,0.343,100.0,8.506,6.075868e+09,194607.0,20190109
1090264,80,02:15,0.109,100.0,2.370,7.891874e+08,28087.0,20190109
1090265,80,10:30,0.120,100.0,6.321,2.445631e+09,75725.0,20190109

In [24]:
df_raw.to_csv("traffic_cells.csv", sep="|")