In [2]:
### allows to direct changes in the packages to be immidiately visibe in the notebook 
%load_ext autoreload
%autoreload 2

In [3]:
import os, sys
sys.path.append(os.getcwd() + '/../..')
sys.path.append(os.getcwd() + '/..')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler, LabelEncoder, PowerTransformer

In [10]:
df_raw = pd.read_csv('./data/cell/get_cell_load_multiple_cells.csv', sep='|', encoding="UTF-8",
                    warn_bad_lines=False, error_bad_lines=False)
df_raw.columns = []

In [11]:
df_raw.head()

,BUEI_Eisenstadt_Colmarplatz L01/AL11,23:30,0.044,100.0,1.141,1.01105008E8,5537.0,20190520
0,BUEI_Eisenstadt_Colmarplatz L01/AL12,00:15,0.400,100.0,14.291,3.324068e+09,223320.0,20190520
1,BUEI_Eisenstadt_Colmarplatz L01/AL12,02:30,0.229,100.0,3.360,5.969072e+08,103160.0,20190520
2,BUEI_Eisenstadt_Colmarplatz L01/AL12,07:15,0.067,100.0,3.468,1.853983e+09,34478.0,20190520
3,BUEI_Eisenstadt_Colmarplatz L01/AL12,11:15,0.115,100.0,4.786,7.638756e+08,38768.0,20190520
4,BUEI_Eisenstadt_Colmarplatz L01/AL13,09:30,0.199,100.0,5.074,2.051302e+09,84535.0,20190520

In [12]:
df_raw.BUEI_Eisenstadt_Colmarplatz L01/AL11.unique()

AttributeError: 'DataFrame' object has no attribute 'cell_key'

### Encode the cell names

In [7]:
df_raw.cell_key = LabelEncoder().fit_transform(list(df_raw.cell_key))

In [8]:
df_raw['dt'] = df_raw['dt'].astype(str)
df_raw['quarter_hour'] = df_raw['quarter_hour']
df_raw['DateTime'] = df_raw['dt'] +' ' + df_raw['quarter_hour']
df_raw['DateTime'] = pd.to_datetime(df_raw['DateTime'], format='%Y%m%d %H:%M:%S.%f')
df_raw = df_raw.sort_values(['cell_key','DateTime'], ascending=True)

KeyError: 'dt'

In [9]:
df_raw

         Unnamed: 0  cell_key                   ds       y
0           1057716         0  2019-01-02 00:00:00  15.076
1           1049620         0  2019-01-02 00:15:00  17.461
2            725344         0  2019-01-02 00:30:00   9.163
3           1072162         0  2019-01-02 00:45:00  12.535
4           1078715         0  2019-01-02 01:00:00  13.531
...             ...       ...                  ...     ...
1090261      170217        80  2019-06-01 22:45:00   7.253
1090262      174118        80  2019-06-01 23:00:00   7.670
1090263      172113        80  2019-06-01 23:15:00   4.547
1090264      174119        80  2019-06-01 23:30:00   3.470
1090265      169440        80  2019-06-01 23:45:00   6.090

[1090266 rows x 4 columns]

In [1]:
df_data=df_raw[['cell_key','DateTime','chmeas_prb_dl_used_avg', 'thrp_bits_dl']]
df_data.columns = ['cell_key', 'ds', 'y', 'thrp_dl_mb']

NameError: name 'df_raw' is not defined

In [13]:
df_data

         cell_key                  ds       y
1057716         0 2019-01-02 00:00:00  15.076
1049620         0 2019-01-02 00:15:00  17.461
725344          0 2019-01-02 00:30:00   9.163
1072162         0 2019-01-02 00:45:00  12.535
1078715         0 2019-01-02 01:00:00  13.531
...           ...                 ...     ...
170217         80 2019-06-01 22:45:00   7.253
174118         80 2019-06-01 23:00:00   7.670
172113         80 2019-06-01 23:15:00   4.547
174119         80 2019-06-01 23:30:00   3.470
169440         80 2019-06-01 23:45:00   6.090

[1090266 rows x 3 columns]

In [14]:
df_data.to_csv("traffic_cells.csv", sep="|")